<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.linkdev.cordova.plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
     <name>ToasterPlugin</name>
      <js-module name="ToasterPlugin" src="www/ToasterPlugin.js"><clobbers target="cordova.plugins.ToasterPlugin" /></js-module>
     <platform name="android">
	  <config-file parent="/*" target="res/xml/config.xml">
        <feature name="ToasterPlugin">
          <param name="android-package" value="com.linkdev.cordova.plugin.ToasterPlugin" />
        </feature>
       </config-file>  
        <config-file target="AndroidManifest.xml" parent="/*">
            <activity android:label="New Activity" android:name="com.linkdev.cordova.plugin.NewActivity"></activity>
         </config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/ToasterPlugin.java" target-dir="src/com/linkdev/cordova/plugin/ToasterPlugin" />
        <source-file src="src/android/NewActivity.java" target-dir="src/com/linkdev/cordova/plugin" />
        <source-file src="src/android/activity_new.xml" target-dir="res/layout"/>
		<resource-file src="src/android/res/drawable-hdpi/ic_action_next_item.png" target="res/drawable-hdpi/ic_action_next_item.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_action_next_item.png" target="res/drawable-mdpi/ic_action_next_item.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_action_next_item.png" target="res/drawable-xhdpi/ic_action_next_item.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_action_next_item.png" target="res/drawable-xxhdpi/ic_action_next_item.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_action_previous_item.png" target="res/drawable-hdpi/ic_action_previous_item.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_action_previous_item.png" target="res/drawable-mdpi/ic_action_previous_item.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_action_previous_item.png" target="res/drawable-xhdpi/ic_action_previous_item.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_action_previous_item.png" target="res/drawable-xxhdpi/ic_action_previous_item.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_action_remove.png" target="res/drawable-hdpi/ic_action_remove.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_action_remove.png" target="res/drawable-mdpi/ic_action_remove.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_action_remove.png" target="res/drawable-xhdpi/ic_action_remove.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_action_remove.png" target="res/drawable-xxhdpi/ic_action_remove.png" />
</platform><
/plugin>